# Entornos virtuales
venv/
.venv/
env/
.env/
ENV/

# Archivos compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de sistema
.DS_Store
Thumbs.db

# Configuración de VSCode
.vscode/

# Archivos de entorno
*.env

# Archivos de imagenes 
*.png 